<div>
  <button type="button" (click)="getUsrArray()">Load Users</button>
  <button type="button" (click)="emptyUsrArray()">Empty Users</button>
</div>
<hr />
<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name: </label>
    <input id="firstName" type="text" formControlName="firstName">

    <label for="lastName">Last Name: </label>
    <input id="lastName" type="text" formControlName="lastName">
    <br>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">

    <label for="phone">Phone: </label>
    <input id="phone" type="text" formControlName="phone">
    <br>
    <button type="submit"> Invia Form</button>
  </form>
</div>
<hr />
<div *ngIf="isOk">
  <p>User send:</p>
  {{newUser|json}}

</div>
<hr />
<div *ngIf="usrArr.length>0">
  <table>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>E-mail</th>
      <th>Phone Number</th>
    </tr>
    <tr *ngFor="let a of usrArr">
      <td>{{a.firstName}}</td>
      <td>{{a.lastName}}</td>
      <td>{{a.email}}</td>
      <td>{{a.phone}}</td>
    </tr>

  </table>
</div>